@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@400;600&display=swap");

body {
  font-family: "Anton", sans-serif;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 200vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.wrapper {
  padding-top: 60px;
  width: 100%;
  height: 8%;
  background-color: #ffce33;
  font-size: 25px;
  justify-content: center;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
}

.space {
  width: 92%;
  height: 10%;
  border-radius: 50px;
  position: absolute;
  top: 240px;
  left: 4%;
  background-color: white;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.03);
}
.spacetext {
  margin-left: 30px;
  color: darkgray;
  opacity: 0.5;
}

.title {
  margin-top: 70px;
  margin-left: 30px;
  font-weight: bold;
}

.main {
  margin-top: 240px;
  margin-left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.main__image {
  scale: 80%;
  border-radius: 40px;
}

.main__data {
  position: relative;
  top: -60px;
  left: 0px;
}

.main__title {
  font-size: 45px;
  margin-top: 80px;
  margin-left: -5px;
}

.main__artist {
  margin-top: -20px;
  color: rgba(0, 0, 0, 0.4);
}

.main__as {
  width: 100px;
  margin-top: -10px;
  margin-left: -5px;
  display: flex;
  justify-content: space-between;
  fill: #ffce33;
}

.main__category {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
}

.main__bottom {
  margin-left: -30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main__bookmark {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffce33;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__booknow {
  width: 200px;
  height: 80px;
  border-radius: 10px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.adv__title {
  font-size: 25px;
  margin-left: 20px;
}

.adv__thumbnail {
  width: calc(100% / 3);
  scale: 60%;
}

.adv__list {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow-x: visible;
  margin: -180px auto;
}
.adv__list__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adv__as {
  margin: -50px 23px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  fill: #ffce33;
}

.popular__title {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 140px;
}

.popular__content {
  display: flex;
  padding-bottom: 50px;
}

.popular__photo {
  border-radius: 30px;
  scale: 100%;
  margin-left: 25px;
}

.popular__name {
  margin-top: -20px;
  margin-left: 50px;
  width: 400px;
}

.popular__introduce {
  margin-left: 50px;
  color: rgba(0, 0, 0, 0.4);
}
