@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Anton", sans-serif;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-around;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.03);
  padding: 50px 60px;
  max-width: 800px;
}

.screen-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.song-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.song__thumbnail {
  width: 110px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.song__artist {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.song__category {
  font-size: 15px;
  color: grey;
  opacity: 0.8;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__shuffle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 40px;
  border-radius: 30px;
  width: 110px;
  height: 40px;
}

.btn__favorite {
  display: inline-block;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.list__info {
  margin: 0px 30px;
}
.list {
  margin-top: 40px;
}

.list__thumbnail {
  margin-left: 100px;
}

.list__track {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.list__artist {
  font-size: 15px;
  color: gray;
  opacity: 0.7;
}
.list__songname {
  font-size: 18px;
  font-weight: 600;
}
.list__ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.playbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 40px;
  border-radius: 30px;
  width: 110%;
  height: 30%;
}
.playbar__info {
}

.playbar__artist {
  font-size: 12px;
  color: grey;
}

.playbar__icon {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.playscreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.playscreen__thumnail {
  margin-top: 40px;
}

.playscreen__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.playscreen__songname {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.playscreen__artist {
  font-size: 15px;
  color: grey;
  opacity: 0.8;
  margin-bottom: 40px;
}
.playscreen__songlength {
  margin: 10px 0px;
  font-size: 10px;
  color: grey;
  opacity: 0.7;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.playscreen__btn {
  align-items: center;
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.playscreen__time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.playscreen__blackbar {
  width: 150px;
  height: 5px;
  background-color: black;
}

.playscreen__now {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.playscreen__whitebar {
  width: 80px;
  height: 5px;
  background-color: grey;
  opacity: 0.81;
}
