body {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 세로로 가운데정렬 */
}

h1 {
  margin-bottom: 50px;
}

section {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* 두 열 사이의 공간 확보  */
  flex-wrap: wrap;
  /* wrap해줘야지 2x2 형태로 변한다.  */
}

.color {
  width: 48%;
  position: relative;
  margin-bottom: 20px;
  /* 컬러박스 사이즈 css다 */
  /* margin-bottom으로 아래 오브젝트와의 간격조절  */
}

.color:first-child .color__bg {
  background-color: tomato;
}
/* 클래스 선택자는 이렇게 사용하는거다.. 아 개빡치네  */

.color:nth-child(2) .color__bg {
  background-color: teal;
}

.color:nth-child(3) .color__bg {
  background-color: burlywood;
}

.color:last-child .color__bg {
  background-color: thistle;
}

.color__bg {
  height: 300px;
  border: 5px solid white;
  /* 컬러박스 배경색을 조절하는 css인데 선택자로 색을 따로 지정하기 때문에 색지정을 안했다. 
  height만 300인 이유는 color__bg가 color안에 있기 때문에 넓이는 48%로 고정이다.*/
}

.color__info {
  position: absolute;
  /* 가장 가까운 relative를 대상으로 작동 
  여기서 가장 가까운대상은 color클래스이다.*/
  width: 100%;
  background-color: white;
  top: 20px;
  padding: 0px 10px;
  box-sizing: border-box;
}
